{
  "openapi": "3.0.2",
  "info": {
    "title": "Spacebring",
    "version": "1.0.0",
    "termsOfService": "https://www.spacebring.com/terms"
  },
  "servers": [
    {
      "url": "https://api.spacebring.com"
    }
  ],
  "paths": {
    "/alt_currencies/v1": {
      "get": {
        "tags": [
          "Alternative currencies"
        ],
        "summary": "Retrieve alternative currencies",
        "description": "Retrieve all alternative currencies in the location. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getAltCurrencies",
        "parameters": [
          {
            "name": "locationRef",
            "in": "query",
            "description": "The id of the location",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "schema": {
              "$ref": "#/components/schemas/nextPageToken"
            },
            "description": "Token to retrieve the next page of results.",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "The number of items to return.",
            "required": false
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "altCurrencies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/altCurrency"
                      }
                    },
                    "nextPageToken": {
                      "$ref": "#/components/schemas/nextPageToken"
                    },
                    "searchQueryNext": {
                      "$ref": "#/components/schemas/searchQueryNext"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Alternative currencies"
        ],
        "summary": "Create an alternative currency",
        "description": "Create an alternative currency. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "createAltCurrency",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createAltCurrency"
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "altCurrency": {
                      "$ref": "#/components/schemas/altCurrency"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/alt_currencies/v1/{id}": {
      "delete": {
        "tags": [
          "Alternative currencies"
        ],
        "summary": "Delete an alternative currency",
        "description": "Delete an alternative currency. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "deleteAltCurrency",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the alternative currency",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Alternative currencies"
        ],
        "summary": "Update an alternative currency",
        "description": "Update an alternative currency. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "updateAltCurrency",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the alternative currency",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateAltCurrency"
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/categories/v1": {
      "get": {
        "tags": [
          "Benefits"
        ],
        "summary": "Retrieve categories",
        "description": "Retrieve all benefit categories in the location. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefitCategories",
        "parameters": [
          {
            "in": "query",
            "name": "locationRef",
            "required": true,
            "description": "UUID of the location whose benefit categories to list.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "The id of the network. Required when using bearer token authentication",
            "in": "header",
            "name": "spacebring-network-id",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBenefitCategories"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Benefits"
        ],
        "summary": "Create a category",
        "description": "Create a benefit category. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "createBenefitCategory",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createBenefitCategory"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "$ref": "#/components/schemas/benefitCategory"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/categories/v1/{categoryId}": {
      "get": {
        "tags": [
          "Benefits"
        ],
        "summary": "Get a category",
        "description": "Get a benefit category. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefitCategory",
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "required": true,
            "description": "The id of the benefit category.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "The id of the network. Required when using bearer token authentication",
            "in": "header",
            "name": "spacebring-network-id",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits",
              "benefits.readonly"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBenefitCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Benefits"
        ],
        "summary": "Delete a category",
        "description": "Delete a benefit category. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "deleteBenefitCategory",
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "The id of the benefit category",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Benefits"
        ],
        "summary": "Update a category",
        "description": "Update a benefit category. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "updateBenefitCategory",
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "The id of the benefit category",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateBenefitCategory"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "$ref": "#/components/schemas/benefitCategory"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/v1": {
      "get": {
        "tags": [
          "Benefits"
        ],
        "summary": "Retrieve benefits",
        "description": "Retrieve all benefits in the location. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefits",
        "parameters": [
          {
            "in": "query",
            "name": "categoryRef",
            "required": false,
            "description": "UUID of the benefit category.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "featured",
            "required": false,
            "description": "Filter by featured status. Pass true or false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of benefits per page. Defaults to 25 when omitted or invalid; values above 100 are capped at 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "locationRef",
            "required": false,
            "description": "UUID of the location.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "required": false,
            "description": "Pagination token from nextPageToken in a previous response. Keep the same filters when fetching the next page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the network. Required when using bearer token authentication",
            "in": "header",
            "name": "spacebring-network-id",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBenefits"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Benefits"
        ],
        "summary": "Create a benefit",
        "description": "Create a benefit. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "createBenefit",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.create"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createBenefit"
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/benefit"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/v1/{benefitId}": {
      "get": {
        "tags": [
          "Benefits"
        ],
        "summary": "Retrieve a benefit",
        "description": "Retrieve a benefit. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefit",
        "parameters": [
          {
            "in": "path",
            "name": "benefitId",
            "required": true,
            "description": "The id of the benefit.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBenefit"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Benefits"
        ],
        "summary": "Delete a benefit",
        "description": "Delete a benefit. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "deleteBenefit",
        "parameters": [
          {
            "name": "benefitId",
            "in": "path",
            "description": "The id of the benefit",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Benefits"
        ],
        "summary": "Update a benefit",
        "description": "Update a benefit. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "updateBenefit",
        "parameters": [
          {
            "in": "path",
            "name": "benefitId",
            "description": "The id of the benefit",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateBenefit"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "benefit": {
                      "$ref": "#/components/schemas/benefit"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/applications/v1": {
      "get": {
        "tags": [
          "Benefits"
        ],
        "summary": "Retrieve applications",
        "description": "Retrieve all benefit applications in the location or for certain benefit. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefitApplications",
        "parameters": [
          {
            "in": "query",
            "name": "benefitRef",
            "required": false,
            "description": "UUID of the benefit.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "categoryRef",
            "required": false,
            "description": "Comma-separated benefit category UUIDs, e.g. `uuid1,uuid2`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "createDate[gte]",
            "required": false,
            "description": "Filter applications submitted on or after this date (ISO 8601). Use with createDate[lte] for a range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "createDate[lte]",
            "required": false,
            "description": "Filter applications submitted on or before this date (ISO 8601). Use with createDate[gte] for a range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "customerRef",
            "required": false,
            "description": "UUID of the customer whose applications to list.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of applications per page. Defaults to 25 when omitted or invalid; values above 100 are capped at 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "locationRef",
            "required": false,
            "description": "UUID of the location.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "required": false,
            "description": "Pagination token from nextPageToken in a previous response. Keep the same filters when fetching the next page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "userRef",
            "required": false,
            "description": "UUID of the user whose applications to list.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "The id of the network. Required when using bearer token authentication",
            "in": "header",
            "name": "spacebring-network-id",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBenefitApplications"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Benefits"
        ],
        "summary": "Apply for a benefit",
        "description": "Apply for a benefit. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "applyBenefit",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createBenefitApplication"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "$ref": "#/components/schemas/benefitApplication"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/applications/v1/{benefitApplicationId}": {
      "get": {
        "tags": [
          "Benefits"
        ],
        "summary": "Retrieve an application",
        "description": "Retrieve a benefit application by id. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefitApplication",
        "parameters": [
          {
            "in": "path",
            "name": "benefitApplicationId",
            "required": true,
            "description": "The id of the benefit application.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "The id of the network. Required when using bearer token authentication",
            "in": "header",
            "name": "spacebring-network-id",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBenefitApplication"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve invoices",
        "description": "Retrieve all invoices based on certain parameters. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getInvoices",
        "parameters": [
          {
            "in": "query",
            "name": "companyRef",
            "required": false,
            "description": "Deprecated. Use customerRef instead. UUID of the company whose invoices to list.",
            "schema": {
              "deprecated": true,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "createDate[gte]",
            "required": false,
            "description": "Filter invoices created on or after this date (ISO 8601). Use with createDate[lte] for a range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "createDate[lte]",
            "required": false,
            "description": "Filter invoices created on or before this date (ISO 8601). Use with createDate[gte] for a range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "customerRef",
            "required": false,
            "description": "UUID of the customer whose invoices to list.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "issueDate[gte]",
            "required": false,
            "description": "Filter invoices issued on or after this date (ISO 8601). Use with issueDate[lte] for a range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "issueDate[lte]",
            "required": false,
            "description": "Filter invoices issued on or before this date (ISO 8601). Use with issueDate[gte] for a range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of invoices per page. Defaults to 25 when omitted or invalid; values above 100 are capped at 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "locationRef",
            "required": false,
            "description": "UUID of the location whose invoices to list.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "membershipRef",
            "required": false,
            "description": "Deprecated. Use customerRef instead. UUID of the membership whose invoices to list.",
            "schema": {
              "deprecated": true,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "required": false,
            "description": "Pagination token from nextPageToken in a previous response. Keep the same filters when fetching the next page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "q",
            "required": false,
            "description": "Case-insensitive search by invoice code or number. Requires customerRef or locationRef.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "description": "Filter by invoice status. Comma-separated values, e.g. `draft,issued`.\n\nSupported values:\n- **draft** — created but not sent\n- **issued** — sent to the customer but unpaid\n- **paid** — fully paid\n- **voided** — cancelled and no longer valid",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the network. Required when using bearer token authentication",
            "in": "header",
            "name": "spacebring-network-id",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getInvoices"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create an invoice",
        "description": "Create an invoice for a member or a company.",
        "operationId": "createInvoice",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createInvoice"
        },
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/invoice"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/{invoiceId}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve an invoice",
        "description": "Retrieve a certain invoice. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getInvoice",
        "parameters": [
          {
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "description": "The id of the invoice.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "The id of the network. Required when using bearer token authentication",
            "in": "header",
            "name": "spacebring-network-id",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Billing"
        ],
        "summary": "Update an invoice",
        "description": "Update a draft invoice. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "updateInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The id of an invoice.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patchInvoice"
        },
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Billing"
        ],
        "summary": "Delete an invoice",
        "description": "Delete a draft invoice. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "deleteInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The id of an invoice.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/{invoiceId}/cancel_payment": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Cancel a payment",
        "description": "Cancel a payment on an invoice. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "cancelInvoicePayment",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The id of an invoice.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/{invoiceId}/duplicate": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Duplicate an invoice",
        "description": "Duplicate an invoice, creating a new draft invoice with the same items. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "duplicateInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The id of an invoice.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/invoice"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/{invoiceId}/issue": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Issue an invoice",
        "description": "Issue (finalize) a draft invoice, making it ready for payment. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "issueInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The id of an invoice.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/issueInvoice"
        },
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/invoice"
                    },
                    "invoiceItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invoiceItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/{invoiceId}/items": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List invoice items",
        "description": "List all items for a specific invoice. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getInvoiceItems",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The id of an invoice.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/invoice"
                    },
                    "invoiceItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invoiceItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/{invoiceId}/pay": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Pay an invoice",
        "description": "Mark an invoice as paid by <code>External Payment</code>. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "payInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The id of an invoice",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/payInvoice"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/invoice"
                    },
                    "payment": {
                      "$ref": "#/components/schemas/invoicePayment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/{invoiceId}/resend": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Resend an invoice",
        "description": "Resend an issued invoice notification to the customer. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "resendInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The id of an invoice.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/{invoiceId}/void": {
      "patch": {
        "tags": [
          "Billing"
        ],
        "summary": "Void an invoice",
        "description": "Void an issued invoice. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "voidInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The id of an invoice.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/items": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create an invoice item",
        "description": "Create an item in an invoice. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "createInvoiceItem",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createInvoiceItem"
        },
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoiceItem": {
                      "$ref": "#/components/schemas/invoiceItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/items/{id}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve an invoice item",
        "description": "Retrieve a specific invoice item. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getInvoiceItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of an invoice item.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoiceItem": {
                      "$ref": "#/components/schemas/invoiceItem"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Billing"
        ],
        "summary": "Update an invoice item",
        "description": "Update an invoice item on a draft invoice. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "updateInvoiceItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of an invoice item.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patchInvoiceItem"
        },
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Billing"
        ],
        "summary": "Delete an invoice item",
        "description": "Delete an invoice item from a draft invoice. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "deleteInvoiceItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of an invoice item.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/items/upcoming": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List upcoming invoice items",
        "description": "List upcoming invoice items. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getUpcomingInvoiceItems",
        "parameters": [
          {
            "name": "companyRef",
            "in": "query",
            "description": "The id of the company.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "membershipRef",
            "in": "query",
            "description": "The id of the membership.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoiceItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invoiceItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/v1/upcoming": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve the upcoming invoice",
        "description": "Retrieve the upcoming invoice preview for a membership or subscription. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getUpcomingInvoice",
        "parameters": [
          {
            "name": "subscriptionRef",
            "in": "query",
            "description": "The id of the subscription.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/invoice"
                    },
                    "invoiceItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invoiceItem"
                      }
                    },
                    "upcomingItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invoiceItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/credit_notes/v1": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve credit notes",
        "description": "Retrieve all credit notes for a specific invoice or location. One of invoiceRef or locationRef is required. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getCreditNotes",
        "parameters": [
          {
            "name": "invoiceRef",
            "in": "query",
            "description": "The id of the invoice. One of invoiceRef or locationRef is required.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false
          },
          {
            "name": "locationRef",
            "in": "query",
            "description": "The id of the location. One of invoiceRef or locationRef is required.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return (max 100, default 25)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "required": false
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "description": "Token to retrieve the next page of results.",
            "schema": {
              "$ref": "#/components/schemas/nextPageToken"
            },
            "required": false
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditNotes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/creditNote"
                      }
                    },
                    "nextPageToken": {
                      "$ref": "#/components/schemas/nextPageToken"
                    },
                    "searchQueryNext": {
                      "$ref": "#/components/schemas/searchQueryNext"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Invoice or location not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create a credit note",
        "description": "Create a credit note for an invoice. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "createCreditNote",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createCreditNote"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditNote": {
                      "$ref": "#/components/schemas/creditNote"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Invoice or invoice item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/credit_notes/v1/{id}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve a credit note",
        "description": "Retrieve a specific credit note. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getCreditNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the credit note",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditNote": {
                      "$ref": "#/components/schemas/creditNote"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Billing"
        ],
        "summary": "Update a credit note",
        "description": "Update a credit note. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "updateCreditNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the credit note",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patchCreditNote"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Credit note not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/credit_notes/v1/preview": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Preview a credit note",
        "description": "Preview a credit note for an invoice without creating it. <h3>OAuth</h3>Required scopes: <code>invoices</code>",
        "operationId": "previewCreditNote",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/previewCreditNote"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditNote": {
                      "$ref": "#/components/schemas/creditNote"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Invoice or invoice item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/community/companies/v1": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Retrieve companies",
        "description": "Retrieve all companies. <h3>OAuth</h3>Required scopes: <code>community.readonly</code> or <code>community</code>",
        "operationId": "getCompanies",
        "parameters": [
          {
            "name": "locationRef",
            "in": "query",
            "description": "The id of the location.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "The number of items to return"
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "schema": {
              "$ref": "#/components/schemas/nextPageToken"
            },
            "description": "Token to retrieve the next page of results."
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by company's title"
          },
          {
            "in": "query",
            "name": "types",
            "schema": {
              "type": "string",
              "enum": [
                "member",
                "nonmember"
              ]
            },
            "description": "Filter by types. Pass them as comma separated values."
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community.readonly",
              "community"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "companies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/company"
                      }
                    },
                    "nextPageToken": {
                      "$ref": "#/components/schemas/nextPageToken"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Create a company",
        "description": "Create a company. <h3>OAuth</h3>Required scopes: <code>community</code>",
        "operationId": "createCompany",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createCompany"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "$ref": "#/components/schemas/company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/community/companies/v1/{id}": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Retrieve a company",
        "description": "Retrieve a certain company. <h3>OAuth</h3>Required scopes: <code>community.readonly</code> or <code>community</code>",
        "operationId": "getCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of company.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community.readonly",
              "community"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "$ref": "#/components/schemas/company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Community"
        ],
        "summary": "Update a company",
        "description": "Update a certain company. <h3>OAuth</h3>Required scopes: <code>community</code>",
        "operationId": "updateCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the company.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company": {
                    "type": "object",
                    "properties": {
                      "billingAddress": {
                        "type": "string"
                      },
                      "businessAddress": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "line1": {
                            "type": "string"
                          },
                          "line2": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          }
                        }
                      },
                      "legalName": {
                        "type": "string"
                      },
                      "metadata": {
                        "$ref": "#/components/schemas/metadata"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "taxId": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "company"
                ]
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "$ref": "#/components/schemas/company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/community/memberships/v1": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Retrieve memberships",
        "description": "Retrieve all memberships. <h3>OAuth</h3>Required scopes: <code>memberships.readonly</code> or <code>memberships</code>",
        "operationId": "getMemberships",
        "parameters": [
          {
            "in": "query",
            "name": "companyRef",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by company reference"
          },
          {
            "name": "locationRef",
            "in": "query",
            "description": "The id of the location.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "The number of items to return"
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "schema": {
              "$ref": "#/components/schemas/nextPageToken"
            },
            "description": "Token to retrieve the next page of results."
          },
          {
            "name": "userEmail",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Filter by user's email"
          },
          {
            "name": "userRef",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The id of the user"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "requested"
              ]
            },
            "description": "use requested to get all membership requests"
          },
          {
            "in": "query",
            "name": "types",
            "schema": {
              "type": "string",
              "enum": [
                "member",
                "nonmember"
              ]
            },
            "description": "Filter by types. Pass them as comma separated values."
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community.readonly",
              "community"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "memberships": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/membership"
                      }
                    },
                    "nextPageToken": {
                      "$ref": "#/components/schemas/nextPageToken"
                    },
                    "searchQueryNext": {
                      "$ref": "#/components/schemas/searchQueryNext"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Community"
        ],
        "summary": "Create a membership",
        "description": "Create a membership and send an email invitation to join if type is member. <h3>OAuth</h3>Required scopes: <code>community</code>",
        "operationId": "createMembership",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createMembership"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "membership": {
                      "$ref": "#/components/schemas/membership"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/community/memberships/v1/{id}": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Retrieve a membership",
        "description": "Retrieve a certain membership. <h3>OAuth</h3>Required scopes: <code>community.readonly</code> or <code>community</code>",
        "operationId": "getMembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of membership.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community.readonly",
              "community"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "membership": {
                      "$ref": "#/components/schemas/membership"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Community"
        ],
        "summary": "Delete a membership",
        "description": "Delete a certain membership. <h3>OAuth</h3>Required scopes: <code>community</code>",
        "operationId": "deleteMembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the membership.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
[...]
